<%# <div class="m-3">
  <form action="/answer" data-turbo="false" class="mb-3">
      <label for="questionInput" class="form-label row">Ask your coach anything: </label>
      <input type="text" name="question" id="questionInput" class="form-control" aria-describedby="button-addon2">
      <input type="submit" value="Ask!" class="btn-primary">
  </form>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-primary" type="button" id="button-addon2">Button</button>
</div> %>


<div class="">
  <h1>Stupid Coaching</h1>
  <label>Ask your coach anything:</label>
  <form action="/answer" data-turbo="false" class="input-group">
    <%# <label for="questionInput" class="form-label">Ask your coach anything:</label> %>
    <div class="d-flex col-10">
      <input type="text" name="question" id="questionInput" class="form-control">
      <input type="submit" value="Ask!" class="btn-primary form-control">
    </div>
  </form>
</div>
